@import "../../colors";

table {
  width: 100%;
}

.mat-column-from {
  width: 33%;
}

.mat-column-to {
  width: 33%;
}

.mat-elevation-z8 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

mat-card-title {
  text-align: center;
  height: 2em;
}

mat-card-content {
  padding-top: 35px;
}

mat-card {
  width: 90%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background: $color-medium;
}

.add-config {
  margin-bottom: 10em;
  width: 80%;
  background: $color-light;
  margin-left: auto;
  margin-right: auto;
}
