<mat-toolbar color="primary">
  <mat-toolbar-row >
    <span><mat-icon>mood</mat-icon></span>  
    <span>Yay, QEST2!</span> 
    <span class="example-spacer"></span> 
    

    <span>Start date:</span>    
    <mat-form-field>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year"></mat-datepicker>
    </mat-form-field>

    <span>End date:</span>    

    <mat-form-field>
      <input matInput [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 startView="month"></mat-datepicker>
    </mat-form-field>
    

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item>Option 1</button>
  <button mat-menu-item>Option 2</button>
</mat-menu>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <nav>
      <div>
        <button class="nav-button" mat-raised-button routerLink="/list">List</button>
      </div>
      <div>
        <button class="nav-button" mat-raised-button routerLink="/create">Create</button>
      </div>
      <div>
        <button class="nav-button" mat-raised-button routerLink="/edit/1">Edit</button>
      </div>
      <p>Employee veci</p>
      <div>
        <button class="nav-button" mat-raised-button routerLink="/employee/list">List</button>
      </div>

    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <mat-sidenav mode="side" position="end" opened>
    <nav>
      <div>
        <button class="nav-button" mat-raised-button routerLink="/list">List</button>
      </div>
      <div>
        <button class="nav-button" mat-raised-button routerLink="/create">Create</button>
      </div>
      <div>
        <button class="nav-button" mat-raised-button routerLink="/edit/1">Edit</button>
      </div>
      <p>Employee veci</p>
      <div>
        <button class="nav-button" mat-raised-button routerLink="/employee/list">List</button>
      </div>
    </nav>
  </mat-sidenav>

</mat-sidenav-container>