<app-toolbar></app-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav class=left-nav mode="side" opened>

    <app-current-employee></app-current-employee>
    <mat-divider></mat-divider>
    <nav>

      <div>
        <button class="nav-button" mat-raised-button routerLink="/employee/list">EMPLOYEES</button>
      </div>
      <div>
        <button class="nav-button" mat-raised-button routerLink="/config">SETTINGS</button>
      </div>

    </nav>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <mat-sidenav class=right-nav mode="side" position="end" opened>
    <app-review-list></app-review-list>
  </mat-sidenav>

</mat-sidenav-container>