.example-card {
  width: 250px;
  height: 400px;
  float: left;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

mat-card {
  margin-left: 2em;
  margin-bottom: 2em;
  margin-top: 2em;
}

mat-card-actions {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.card-button {
  width: 100%;
}

.create-card {
  cursor: pointer;
  width: 250px;
  height: 250px;
  float: left;
}

.add-icon {
  cursor: pointer;
  text-align: center;
  font-size: 240px;
  width: 240px;
  height: 200px;
  align-self: center;
}

.uprostred {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 28px;
}
