@import "../../../colors";

.example-card {
  width: 200px;
  height: 300px;
  float: left;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

mat-card {
  margin-left: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  cursor: pointer;
}

mat-card-actions {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.card-button {
  width: 100%;
}

.create-card {
  cursor: pointer;
  width: 200px;
  height: 300px;
  float: left;
}

.add-icon {
  cursor: pointer;
  text-align: center;
  font-size: 240px;
  width: 200px;
  height: 300px;
  align-self: center;
}

img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.fill-image {
  height: 190px;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
}

.center-icon {
  height: 190px;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
