@import "../../../colors";

.firstFormField {
  margin-top: 20px;
}

mat-form-field {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1em;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-input {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1em;
}

mat-slider {
  width: 80%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.mat-column-action {
  width: 33%;
}

mat-card {
  width: 90%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background: $color-medium;
}

.card-inside {
  background: $color-medium;
}

mat-expansion-panel {
  margin-bottom: 5px;
  background: $color-light;
}

mat-panel-title {
  width: 60%;
  max-width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.space-right {
  margin-right: 10px;
}

mat-card-title {
  text-align: center;
  height: 2em;
}

mat-card-content {
  padding-top: 35px;
}
