table {
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }  

.mat-elevation-z8 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.nadpis {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}