<h2 class=nadpis>TASKS</h2>
<p class=nadpis> of user {{ employeeId }}</p>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="bonus" matSortDirection="desc">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index; let p = $pageSize; let c = $currentPage"> {{ (c-1) * p + i
        + 1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="jira">
      <th mat-header-cell *matHeaderCellDef> Jira link </th>
      <td mat-cell *matCellDef="let element"> {{element.jira_link}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date }} </td>
    </ng-container>

    <ng-container matColumnDef="bonus_points">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bonus points </th>
      <td mat-cell *matCellDef="let element">
        <input matInput placeholder="{{ element.bonus_points }}" [(ngModel)]="element.bonus_points">
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button class="nav-button" mat-raised-button (click)="updateTask(element)">Save</button>
        <button class="nav-button" mat-raised-button (click)="deleteTask(element._id)">Delete</button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


<mat-card class='add-task'>
  <mat-card-header>Add new task</mat-card-header>
  <form #addNew="ngForm" class="example-container">
    <mat-form-field class="firstFormField">
      <textarea matInput placeholder="Description" [(ngModel)]="task_description" name="task_description" required></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Managers note" [(ngModel)]="task_managers_note" name="task_managers_note"></textarea>
    </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="Task date" [matDatepicker]="picker" name="date" [(ngModel)]="task_date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year"></mat-datepicker>
    </mat-form-field>


    <div class='slider-input'>
      <span opacity='0.5'>Bonus points:</span>
      <mat-slider thumbLabel min="0" max="3" step="1" value="0" name='bonus_points' [(ngModel)]="task_points"></mat-slider>
    </div>

  </form>
  <div class='submit-button'>
    <button mat-raised-button (click)="createTask()" [disabled]="addNew.form.invalid">Add new task</button>
  </div>
</mat-card>