<div *ngIf="employee">

  <mat-card>
    <mat-card-title>
      Selected employee is: {{ employee.first_name }}
    </mat-card-title>

    <mat-card-content>
      <form class="example-container">
        <mat-form-field class="firstFormField">
          <input matInput placeholder="First name" [(ngModel)]="employee.first_name" name="first_name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last name" [(ngModel)]="employee.last_name" name="last_name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Nick" [(ngModel)]="employee.rhnick" name="rhnick">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Position" [(ngModel)]="employee.position" name="position">
            <mat-option value="associate">Associate</mat-option>
            <mat-option value="engineer">Engineer</mat-option>
            <mat-option value="senior">Senior</mat-option>
            <mat-option value="principal">Principal</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Team Lead" [(ngModel)]="employee.team_lead" name="team_lead">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Manager" [(ngModel)]="employee.manager" name="manager">
        </mat-form-field>

      </form>
    </mat-card-content>

    <button mat-raised-button (click)="save()">SAVE CHANGES</button>
  </mat-card>



</div>