<div *ngIf="employee">

  <mat-card>
    <mat-card-title>
      Selected employee is: {{ employee.first_name }}
    </mat-card-title>
    <mat-divider></mat-divider>

    <mat-card-content>
      <form #loginForm="ngForm" class="example-container">
        <mat-form-field class="firstFormField">
          <input matInput placeholder="First name" [(ngModel)]="employee.first_name" name="first_name" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last name" [(ngModel)]="employee.last_name" name="last_name" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Nick" [(ngModel)]="employee.rhnick" name="rhnick" required>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Position" disableOptionCentering [(ngModel)]="employee.position" name="position"
            required>
            <mat-option value="associate">Associate</mat-option>
            <mat-option value="engineer">Engineer</mat-option>
            <mat-option value="senior">Senior</mat-option>
            <mat-option value="principal">Principal</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Team Lead" [(ngModel)]="employee.team_lead" name="team_lead" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Manager" [(ngModel)]="employee.manager" name="manager" required>
        </mat-form-field>

      </form>

    </mat-card-content>

    <div class="submit-button">
      <button mat-raised-button class='space-right' (click)="save()" [disabled]="loginForm.form.invalid">Update</button>
      <button mat-raised-button (click)="delete()">DELETE</button>
    </div>
  </mat-card>

</div>