.example-container {
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    margin-right: 3em;
    border-style: dashed
  }
  
  mat-form-field {
    width: 80%;
    margin-left: 3em;
    margin-bottom: 1em;
  }

  .firstFormField {
    margin-top: 20px;
  }

  mat-card-title {
    text-align: center;
    height: 2em;
  }
  
  mat-card-content {
    padding-top: 35px;
  }
  
  mat-card {
    width: 90%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background: #c2e3b1;
  }

  .submit-button {
    display: flex;
    align-items : center ;
    justify-content : center;
  }

  .space-right {
    margin-right: 10px;
  }