.review {
  margin-bottom: 10em;
  width: 90%;
  background: #c2e3b1;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

mat-form-field {
  width: 80%;
  margin-left: 3em;
  margin-bottom: 1em;
}

.slider-input {
  width: 80%;
  margin-left: 3em;
  margin-bottom: 1em;
}

mat-slider {
  width: 80%;
  margin-top: 15px;
  margin-left: 10%;
}

mat-card-title {
  text-align: center;
  height: 2em;
}

mat-card-content {
  padding-top: 35px;
}

.review-form {
  margin-bottom: 10em;
  width: 80%;
  background: #bacdaf;
  margin-left: auto;
  margin-right: auto;
}

.firstFormField {
  margin-top: 20px;
}
