<mat-card>
  <mat-card-title>Add new task</mat-card-title>
  <mat-divider></mat-divider>

  <mat-card-content>
    <mat-card class='add-task'>
      <form #addNew="ngForm">
        <mat-form-field class="firstFormField">
          <textarea matInput placeholder="Description" [(ngModel)]="task_description" name="task_description" required></textarea>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Managers note" [(ngModel)]="task_managers_note" name="task_managers_note"></textarea>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Jira link" [(ngModel)]="task_jira" name="task_jira">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Task date" [matDatepicker]="picker" name="date" [(ngModel)]="task_date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year"></mat-datepicker>
        </mat-form-field>

        <div class='slider-input'>
          <span>Bonus points:</span>
          <br>
          <mat-slider thumbLabel min="0" max="3" step="1" value="0" name='bonus_points' [(ngModel)]="task_points"></mat-slider>
        </div>

      </form>
      <div class='submit-button'>
        <button mat-raised-button (click)="createTask()" [disabled]="addNew.form.invalid">Add new task</button>
      </div>
    </mat-card>
  </mat-card-content>
</mat-card>