@import "../../../../colors";

.add-task {
  margin-bottom: 10em;
  width: 60%;
  background: $color-light;
  margin-left: auto;
  margin-right: auto;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-input {
  width: 80%;
  margin-left: 3em;
  margin-bottom: 1em;
}

mat-slider {
  width: 80%;
  margin-top: 15px;
  margin-left: 10%;
}

.firstFormField {
  margin-top: 20px;
}

mat-form-field {
  width: 80%;
  margin-left: 3em;
  margin-bottom: 1em;
}

mat-card {
  width: 90%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background: $color-medium;
}

mat-card-title {
  text-align: center;
  height: 2em;
}

mat-card-content {
  padding-top: 35px;
}
