@import "../../colors";

mat-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom-style: outset;
  background: $color-dark;
  color: white;
  font-family: $font;
  font-size: 1.8em;
}

mat-toolbar-row {
  justify-content: space-between;
}

.current-period {
  cursor: pointer;
}
