mat-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-style: outset;
  border-bottom-style: outset;
  background: #9B9BBE;
}

mat-toolbar-row {
  justify-content: space-between;
}

.current-period {
    cursor: pointer;
}
